.nav {
  background-color: #D89A9E;
  margin-top: -20px;
}

ul {
  padding: 0px;
}

.nav-list {
  font-size: 19px;
  display: inline-block;
  color: white;
  list-style: none;
  padding: 5px 0px 5px 15px;
}

body {
  background-color: #846267;
  margin: 0px;
  font-family: 'Dosis', sans-serif;
}

.content {
  margin-left: 15px;
}

img {
  height: 500px;
  width: 100%;
}

h1 {
  font-size: 80px;
  color: #C37D92;
  font-style: oblique;
  font-family: helvetica;
  margin: 20px 0px 15px 0px
}

.subtitle {
  font-size: 30px;
  color: #E0C1B3;
}

h2 {
  color: #AAC0AA;
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

.cupcake {
  color: #C37D92;
}

.reservation {
    font-family: helvetica;
    font-size: 25px;
}

.link-hue {
  color: #D89A9E;
}

p {
  font-size: 19px;
  width: 780px;
}
