.nav {
  background-color: #D89A9E;
  margin-top: -20px;
}


.address {
  font-size: 19px;

  font-family: helvetica;
  text-align: center;
}
.address-container {
  width: 450px;
  height: auto;
}

ul {
  padding: 0px;
}

.nav-list {
  font-size: 19px;
  display: inline-block;
  color: white;
  list-style: none;
  padding: 5px 0px 5px 15px;
}

body {
  background-color: #846267;
  margin: 0px;
  font-family: 'Dosis', sans-serif;
  width: 1500px;
}

.content {
  margin-left: 15px;
  width: 1150px
}

img {
  height: 500px;
  width: 100%;
}

.about-img {
  width: 300px;
  height: auto;
  float: right;

}

h1 {
  font-size: 80px;
  color: #C37D92;
  font-style: oblique;
  font-family: helvetica;
  margin: 20px 0px 15px 0px
}

.subtitle {
  font-size: 30px;
  color: #E0C1B3;
}

h2 {
  color: #AAC0AA;
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #AAC0AA;
}

.cupcake {
  color: #C37D92;
}

.cupcake:hover {
  color: #C37D92;
}

.contact {
    font-family: helvetica;
    font-size: 25px;
}

.important {
  font-family: helvetica;

}

.link-hue {
  color: #D89A9E;
}

p {
  font-size: 19px;
  width: 780px;
}
